.deck-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.deck-card-header h5 {
    color: var(--title-text-color);
    margin: 50px;
}

.deck-buttons {
    margin-right: 45px;
    display: flex;
}
.deck-delete-button, .deck-quiz-button, .deck-edit-button{
    margin: 10px;
    font-size: 1rem;
    font-weight: 500;
    background: var(--button-blue);
    color: var(--button-blue-text-color);
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 10px 15px;
    text-decoration: none;
}

    .deck-delete-button:hover, .deck-quiz-button:hover, .deck-edit-button:hover{
        background-color: var(--icon-button-color-hover);
    }

.deck-settings-button{
    color: var(--icon-button-color);
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}
.deck-settings-button:hover{
    color: var(--button-blue)
}
.deck-settings-button:focus{
    color: var(--icon-button-color-hover)
}

.display-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-button {
    margin: 10px;
    background: none;
    color: var(--icon-button-color);
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

    .card-button:hover {
        color: var(--button-blue);
    }

.current-card {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    width: 400px;
    height: 350px;
    box-shadow: 0 2px 4px var(--card-dark-shadow-color);
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
    perspective: 1000px;
    margin: 20px;
    position: relative;
    color: var(--white-text-color);
}

    .current-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px var(--card-dark-shadow-color);
    }

.current-card .term, .current-card .meaning {
    width: 100%;
    height: 95%;
    backface-visibility: hidden;
    overflow: auto;
    padding: 20px;
    position: absolute;
    text-align: center;
}

.current-card .meaning {
    transform: rotateY(180deg);
}

.current-card.flipped {
    transform: rotateY(180deg);
}

#previous-button {
    left: 0;
    border: none;
    outline: none;
}

#next-button {
    right: 0;
    border: none;
    outline: none;
}

.card-list{
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border: none;
    border-radius: 0;
}

.card-content {
    width: 100%;
    box-shadow: 0 2px 4px var(--card-dark-shadow-color);
    transition: transform 0.2s;
    color: var(--sub-text-color-white);
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
}

.card-content-divider {
    border: none;              
    border-top: 1px solid var(--border-color); 
    width: 100%;                
    margin: 20px auto;         
}

.card-edit-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1rem;
    margin: 10px auto 1px;
    padding: 20px;
    background-color: var(--card-bg-color);
    color: var(--sub-text-color-gray);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.card-number {
    margin-right: auto;
}

.card-edit-button,
.card-delete-button, .card-save-button, .card-cancel-button {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 17px;
    background: none;
    color: var(--icon-button-color);
    border: none;
    cursor: pointer;
}

.card-save-button {
    display: none;
}

.card-term-meaning {
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 20px;
    margin-right: 2.5px;
    border-radius: 0 0 0 10px;
    max-height: 450px
}

.card-term  {
    overflow: auto;
    /*min-height: 100px;*/
    align-content: center;
}

.card-meaning {
    width: 100%;
    overflow : auto;
    /*min-height: 100px;*/
    align-content: center;
}


/*.card-meaning::-webkit-scrollbar, .card-meaning-text::-webkit-scrollbar {*/
/*        width: 12px;*/
/*        */
/*    }*/
/*.card-meaning::-webkit-scrollbar-track, .card-meaning-text::-webkit-scrollbar-track {*/
/*        background: var(--card-bg-color);*/
/*    }*/
/*.card-meaning::-webkit-scrollbar-thumb, .card-meaning-text::-webkit-scrollbar-thumb {*/
/*        background-color: var(--scroll-card-color);*/
/*        border-radius: 6px;*/
/*        border: 3px solid var(--card-bg-color);*/

/*    }*/

/*.card-meaning::-webkit-scrollbar-thumb:hover, .card-meaning-text::-webkit-scrollbar-thumb:hover {*/
/*        background-color: var(--scroll-card-color-hover);*/
/*    }*/

.card-term textarea, .card-meaning textarea {
    background-color: var(--card-bg-color);
    color: var(--white-text-color);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
}

.card-image {
    background-color: var(--card-bg-color);
    width: 20%;
    border: .125rem dashed var(--border-color-second);
    border-radius: 0 0 10px 0;
    align-content: center;
    text-align: center;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    display: block;
}

/* Settings Modal */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay-bg-color);
    z-index: 1000;
    backdrop-filter: brightness(0.6);
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--card-white-bg-color);
    border-radius: 16px;
    width: 500px;
    z-index: 1001;
    box-shadow: 0 0 10px var(--card-dark-shadow-color);
}

.modal-header {
    padding: 1rem 1rem 0 1rem;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.modal-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--label-blue-color);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close:hover {
    background-color: var(--modal-bg-color-hover);
}

.settings-group {
    margin-bottom: 20px;
}

.settings-group h3 {
    margin-bottom: 10px;
    color: var(--label-gray-color);
    font-size: 16px;
    font-weight: 600;
}

h3{
    margin-bottom: 10px;
    color: var(--label-gray-color);
    font-size: 16px;
    font-weight: 600;
}

.settings-option {
    padding: 0.5rem;
    background-color: var(--modal-bg-color);
    border-radius: 8px;
}

.settings-option label {
    display: block;
    margin-bottom: 8px;
    color: var(--label-blue-color);
    font-size: 14px;
}

.number-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--modal-border-color-third);
    border-radius: 4px;
    font-size: 14px;
}

.number-input {
    width: 80px;
    padding: 4px 8px;
    border: 1px solid var(--modal-border-color-second);
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.checkbox-option {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-option label {
    margin-bottom: 0;
    color: var(--button-dark);
}

.modal-footer {
    padding: 16px;
    border-top: 1px solid var(--modal-border-color);
}

.delete-deck-modal-footer{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.confirm-button {
    background-color: var(--button-red);
    color: var(--white-text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button {
    background-color: var(--sub-text-color-gray);
    color: var(--black-text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.save-button {
    background-color: var(--button-dark);
    color: var(--white-text-color);
    padding: 12px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}

.save-button:hover {
    background-color: var(--button-pale-blue-text-color-hover);
}

/* Toggle Switch Styles */
.number-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
}

.toggle-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
}

.toggle-option label {
    font-size: 14px;
    color: var(--label-gray-color);
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-switch-bg-color);
    transition: .4s;
    border-radius: 24px;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--card-white-bg-color);
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch input:checked + .slider {
    background-color: var(--blackish-button-color);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(26px);
}


/* Responsiveness */
@media (max-width: 1224px) {

    .card-content {
        font-size: 0.9rem;
    }

    .card-edit-bar {
    }
}

@media (max-width: 1024px) {

    .card-content {
        font-size: 0.85rem;
    }

    .card-edit-bar {
    }
}

@media (max-width: 480px) {

    .card-content {
        font-size: 0.85rem;
    }

    .card-edit-bar {
    }
}


