@model Flipard.MVC.ViewModels.Home.AuthEditProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/home/profile.css">
</head>
<body>
    <div class="container">
        <div class="profile-card">
            <div class="profile-header">
                <h2>Edit Profile</h2>
            </div>
            <form asp-action="EditProfile" asp-controller="Home" method="post">
                <div class="profile-info">
                    <span class="profile-info-label">Email:</span>
                    <span class="profile-info-value">
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span> <!-- Moved above -->
                </span>

                    <span class="profile-info-label">Username:</span>
                    <span class="profile-info-value">
                    <input asp-for="Username" class="form-control"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </span>

                    <span class="profile-info-label">Birthdate:</span>
                    <span class="profile-info-value">
                    <input asp-for="Birthdate"  type="date" class="form-control"/>
                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                </span>
                </div>
                <div class="button-group">
                    <button type="submit" class="btn btn-edit">Update</button>
                    <a asp-action="Profile" asp-controller="Home" class="btn btn-logout">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
