@model Flipard.MVC.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/profile.css">
</head>
<body>
<div class="container">
    <div class="profile-card">
        <div class="profile-header">
            <h2>Forgot Password</h2>
        </div>
        
        <div>
            <span class="forgot-password-static-text">To reset your password, please provide your email or username. Hang tight—we’ll take care of the rest to save your account!</span>
        </div>
        <form asp-action="ForgotPassword" method="post">
            <div class="profile-info-forgot-password">
                <span class="profile-info-label-forgot-password">Email:</span>
                <span class="profile-info-value-forgot-password">
                    <input asp-for="Email" class="form-control" placeholder="Enter your email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </span>
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-edit">Submit</button>
                <button type="button" class="btn btn-edit" onclick="navigateLogin()">Back to Login</button>
            </div>
        </form>
    </div>
</div>
<script>
    function navigateLogin() {
        window.location.href = '@Url.Action("Login", "Auth")';
    }
</script>
</body>