@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home/forgot-password.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/colors.css">
</head>
<body>
<script src="https://unpkg.com/@@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<content>

    <div class="forgot-password">
        <div class="forgot-password-card">

            <div class="forgot-password-lottie">
                <dotlottie-player src="https://lottie.host/80df551e-00f0-4529-bc4c-7bb93c5ac7b8/AIsAAfVlDz.lottie" background="transparent" speed="1" style="width:180px; height: 180px" loop autoplay></dotlottie-player>
            </div>

            <div class="forgot-password-header">
                <h2>Şifreni Sıfırla</h2>
            </div>

            <div class="forgot-password-text">
                <span class="forgot-password-static-text">Şireni sıfırlamak için email adresini girmelisin. Endişelenme hesabını kurtaracağız!</span>

            </div>


            <form asp-action="ForgotPassword" method="post">

                <div class="forgot-password-form">
                    <div class="forgot-password-input">
                        <span class="forgot-password-email">Email:</span>
                        <span class="forgot-password-email-value">
                            <input asp-for="Email" class="form-control" placeholder="Email adresini gir"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="button-group">
                        <button type="submit" class="btn btn-edit">Gönder</button>
                        <button type="button" class="btn btn-edit" onclick="navigateLogin()">Giriş Sayfasına Geri Dön</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</content>
</body>
</html>

<script>
    function navigateLogin() {
        window.location.href = '@Url.Action("Login", "Auth")';
    }
</script>