@{
ViewBag.Title = "Forget Password Response";
Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home/forgot-password.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/colors.css">
</head>
<body>
<style>
    span {
        color: var(--white-text-color);
    }

    content {
        display: flex;
        flex-direction: column;
        margin: 100px 50px 0 50px;
        align-items: center;
    }
</style>
<script src="https://unpkg.com/@@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

<content>
    <div class="forgot-password-lottie">
        <dotlottie-player src="https://lottie.host/3fcd525d-f723-4dd6-a9b5-1bd7fad9a8f4/TW9YBjAkJM.lottie"
                          background="transparent" speed="1" style="width: 300px; height: 300px" loop
                          autoplay></dotlottie-player>
    </div>

    <span>If your email is registered, you will receive a reset password email shortly.</span>
</content>
</body>
</html>