@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home/forgot-password.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/colors.css">
</head>
<body>
<content>

    <div class="forgot-password">
    <div class="forgot-password-card">
        <div class="forgot-password-header">
            <h2>Şifreni Sıfırla</h2>
        </div>

        <div class="forgot-password-text">
            <span class="forgot-password-static-text">Şireni sıfırlamak için email adresini girmelisin. Endişelenme hesabını kurtaracağız!</span>

        </div>

        <div class="forgot-password-form">
            <form asp-action="ForgotPassword" method="post">
                <div class="profile-info-forgot-password">
                    <span class="profile-info-label-forgot-password">Email:</span>
                    <span class="profile-info-value-forgot-password">
                        <input asp-for="Email" class="form-control" placeholder="Email adresini gir"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </span>
                </div>
                <div class="button-group">
                    <button type="submit" class="btn btn-edit">Gönder</button>
                    <button type="button" class="btn btn-edit" onclick="navigateLogin()">Giriş Sayfasına Geri Dön</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</content>
</body>
</html>

<script>
    function navigateLogin() {
        window.location.href = '@Url.Action("Login", "Auth")';
    }
</script>
