@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Login.css">

</head>

<body>
    <header class="TopNavigation" itemscope itemtype ="http://schema.org/WPHeader" role="banner">
        <div class="TopNavigation-content">

            <div class="TopNavigation-contentLeft">
                <a class="hello-flipard" style="display:none" href="/hello-flipard">hello flipard</a>
            

                <div class="TopNavigation-hamburgerMenuWrapper" data-testid="nav-hamburger-menu">

                </div>

                <div class="h1vx"></div>

                <button type="button" aria-label="Menü" class="AssemblyButtonBase AssemblyIconButton AssemblyIconButton--tertiary AssemblyIconButton--circle AssemblyButtonBase--medium AssemblyButtonBase--circle" title="Menü"><svg aria-label="Menü" class="AssemblyIcon AssemblyIcon--medium" role="img"><noscript></noscript><use xlink:href="#menu"></use><noscript></noscript></svg></button>

            </div>

            <div class="TopNavigation-contentMiddle"></div>

            <div class="TopNavigation-contentRight"></div>

          
        </div>
    </header>
</body>