@model IEnumerable<Flipard.MVC.ViewModels.HomeDeckDetailsViewModel>

@{
    ViewData["Title"] = "Home Page";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="~/css/homeindex.css">

</head>
<body>

    <content>
        <div class="label-deck">
            <h4>Çalışma setleriniz</h4>
        </div>

        <div class="deck-list">
            @foreach (var deck in Model)
            {
                <button type="button" class="deck-card-button">
                    <div class="deck-card">
                        <div class="deck-card-header">
                            <h5>@deck.Name</h5>
                        </div>
                        <div class="deck-card-body">
                            <div class="deck-card-body-left">
                                <span>@deck.CardCount Kart</span>
                            </div>
                            <div class="deck-card-body-right"></div>
                        </div>
                    </div>
                </button>
            }
        </div>
    </content>
</body>
</html>
