@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home/forgot-password.css">
    <link rel="stylesheet" href="~/css/home/profile.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/colors.css">
</head>
<body>

<content>

    <div class="forgot-password">
        <div class="forgot-password-card">
            <div class="forgot-password-header">
                <h2>Şifreni Sıfırla</h2>
            </div>
            
            <div class="forgot-password-form">
                <form asp-action="ResetPassword" method="post">
                    <input asp-for="Email" type="hidden" />
                    <input asp-for="Token" type="hidden" />
                    
                    <div class="profile-info">
                        <span class="profile-info-label">Yeni Şifre:</span>
                        <span class="profile-info-value">
                            <input asp-for="Password" class="form-control"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </span>

                        <span class="profile-info-label">Yeni Şifreni Doğrula:</span>
                        <span class="profile-info-value">
                            <input asp-for="ConfirmPassword" class="form-control"/>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </span>

                    </div>

                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
                
            </div>
        </div>
    </div>
</content>
</body>
</html>