@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home/profile.css">
</head>
<body>
<div class="container">
<div class="profile-card">
    <div class="profile-header">
        <h2>Reset Password</h2>
    </div>

    <form asp-action="ResetPassword" method="post">
        <div class="profile-info">
            <span class="profile-info-label">New Password:</span>
            <span class="profile-info-value">
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </span>

            <span class="profile-info-label">Confirm New Password:</span>
            <span class="profile-info-value">
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </span>

        </div>
    </form>
</div>
</div>
</body>