<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Layout</title>
    <!-- Add your common CSS, meta tags, etc. here -->
</head>
<body>

    <!-- Common header content -->
    <header>
        
    </header>

    <!-- Render the content of individual views -->
    @RenderBody()

    
    @await Component.InvokeAsync("NToastNotify")
    <!-- Add your common scripts here -->
</body>
</html>