@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.625;
}

body {
    background-color: #202124;
    margin: 0;
    padding: 0;
}

main .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flipard-logo {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #202124;
}

    .flipard-logo :active :focus {
        border: hidden;
    }

/* Logo */
.logo-header {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    color: #FBFAFB;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}

.logo-circle {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-right: 6px;
}

.logo-header .logo .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.logo-header .logo .logo-circle .circle-1 {
    background-color: #62CBE7;
    margin-left: 10px;
}

.logo-header .logo .logo-circle .circle-2 {
    background-color: #B5E0D4;
}

.logo-header .logo h2 {
    font-size: 1.5rem;
}

/* HEADER */
.TopNavigation {
    background-color: var(--gray-100-twilight-900);
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    color: var(--gray-800-gray-100);
    display: flex;
    height: 4rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.TopNavigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-button-container {
    display: flex;
    justify-content: flex-end;
}

.TopNavigation-contentRight {
    display: flex;
}

.TopNavigation-contentMiddle {
    display: flex;
    width: 500px;
    max-width: 1000px;
    align-items: center;
}


.TopNavigation-contentRight .RightNavigationItem .create-button {
    display: inline-flex;
    height: 40px;
    width: 40px;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 50%;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-top: 2px;
}

    .TopNavigation-contentRight .RightNavigationItem .create-button .button-icon {
        display: inline-flex;
        color: white;
        align-items: center;
    }

    .TopNavigation-contentRight .RightNavigationItem .create-button:hover {
        background: #008168;
    }

    .TopNavigation-contentRight .RightNavigationItem .create-button:active {
        background: #008168;
    }

.TopNavigation-contentRight .RightNavigationItem .profile-button {
    display: inline-flex;
    height: 40px;
    width: 40px;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 50%;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-top: 5px;
}

.TopNavigation-contentRight .RightNavigationItem .profile-form .profile-button .profile-button-icon {
    display: inline-flex;
    color: white;
    font-size: 15px;
}

@media (max-width: 64rem) {
    .TopNavigationItem.FullSeachNavigationItem {
        padding: 0 .5rem;
    }
}

.TopNavigationItem.FullSeachNavigationItem {
    width: 100%;
    padding: 0 1.5rem;
}

@media (max-width: 64rem) {
    .TopNavigationItem {
        padding: 0 .5rem;
    }
}

.TopNavigationItem {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 .75rem;
}

.FullSeachNavigationItem {
    flex: 3;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.search-input {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: rgba(40, 41, 47, 0.5);
    border: none;
    outline: none;
    color: rgb(223, 219, 219);
}

.search-button {
    padding: 8px;
    background: none;
    background-color: rgba(40, 41, 47, 0.5);
    border: none;
    cursor: pointer;
}

    .search-button .button-icon {
        width: 20px;
        height: 20px;
        color: #fff;
        margin-right: 5px;
    }
