:root {
    --main-backgorund-color: #202124;
    --primary-color: #00BFA5;
    --secondary-color: #202124;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --card-bg-color: #323338;
    --gray-bg-color : #323338;
    --gray-bg-border-color : #8d90a0;
    --btn-red : #dc3545;
}