
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.625;
}

body {
    background-color: #202124;
    margin: 0;
    padding: 0;
}


.create-card {
    display: flex;
    background: #202124;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.create-card-text {
    color: #fff;
    margin: 100px 250px 50px 250px;
}

.create-button {
    background: #016752;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: larger;
    border-radius: 20px;
    padding-top: 5px;
    margin: 100px 250px 50px 250px;
}

    .create-button:hover, .create-button:active {
        background: #005645;
    }

    .create-button .button-text {
        font-weight: 500;
        color: #ffffff;
    }

.create-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202124;
    width: 100%;
    height: 100%;
}

.deck-name .deck-desc {
    margin-bottom: 20px;
}

.deck-name-input, .deck-desc-input {
    background-color: #323338;
    color: #d2d1d1;
    width: 71rem;
    height: 3rem;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #8d90a0;
}


.deck-desc-input {
    height: 10rem;
}

.user-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202124;
    width: 100%;
    height: 100%;
}

.user-deck-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71rem;
    height: 3rem;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 20px;
    background-color: #323338;
    color: #d2d1d1;
    font-size: 18px;
    border-top: 1px solid #8d90a0;
    border-left: 1px solid #8d90a0;
    border-right: 1px solid #8d90a0;
    border-bottom: none;
}

.card-number {
    margin-right: auto;
}

#add-card-button {
    background: #016752;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 3rem;
    font-size: 16px;
    margin: 20px auto;
    color: #fff;
    cursor: pointer;
}



.card-image-button,
.card-delete-button {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.user-deck-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 71rem;
}

.user-deck-card-term,
.user-deck-card-definition {
    width: 30rem;
    height: 7rem;
    margin-bottom: 20px;
    align-items: center;
}

    .user-deck-card-term textarea,
    .user-deck-card-definition textarea {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: none;
        outline: none;
        background-color: #323338;
        color: #d2d1d1;
        font-size: 16px;
    }

        .user-deck-card-term textarea::placeholder,
        .user-deck-card-definition textarea::placeholder {
            color: #d2d1d1;
        }

        .user-deck-card-term textarea:focus,
        .user-deck-card-definition textarea:focus {
            background-color: #52555C;
        }

.user-deck-card-image {
    align-content: center;
    width: 10.6rem;
    color: #a3a6b5;
    background-color: #323338;
    border: .125rem dashed #70737F;
    border-radius: .3125rem;
    cursor: pointer;
    height: 100%;
    padding: .3125rem;
    text-align: center;
    height: 112px;
    font-size: 1.5rem;
}


.image-preview {
    max-height: 112px; 
    width: auto; 
}

.user-deck-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


