@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.625;
}

body {
    background-color: #202124;
    margin: 0;
    padding: 0;
}

.label-deck h4 {
    color: rgb(251, 250, 251);
    margin: 50px;
}

.deck-container {
    background-color: rgb(36, 37, 42);
    border-radius: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    flex-wrap: nowrap;
    margin: 0 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deck-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}

.deck-list-other {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}

.deck-card-body-left {
    margin: 15px;
}

.deck-card-button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: rgb(251, 250, 251);
    margin: 10px;
}

.deck-card {
    background-color: #282a2f;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.deck-card:hover {
    transform: translateY(-5px);
}

.deck-card-header h5 {
    font-size: 1.2rem;
    color: #fff;
}

.deck-card-body-left span {
    color: #b5b5b5;
}

.card-button {
    margin: 10px;
    font-size