@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        /* Resetting width to auto */
        width: auto;
        /* Removing margin */
        margin: 0;
        /* Removing padding */
        padding: 0;
    }

    .col-md-6 {
        flex: 1;
        padding: 10px;
    }
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #202124;
    margin: 0;
    padding: 0;
}
/* General */


.row{
    margin: 0px;
    height: 400px;
}

.col-md-6{
    padding: 0px;
    width: 100%;
}

.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Image */
.image-container {
    padding: 0px;
    position: relative;
}

    .image-container img {
        width: 100%;
        max-height: 100vh; 
        height: auto; 
    }
/* Image */


.sec2{
    margin-top: 10%;
}

/* Logo */
.logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 1px;
    padding: 10px;
    color: #FBFAFB;
    text-align: center;
}

    .logo {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-circle {
        display: flex;
        flex-direction: column;
        margin-right: 6px;
    }

    .logo-header .logo .circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .logo-header .logo .logo-circle .circle-1 {
        background-color: #62CBE7;
        margin-left: 10px;
    }

    .logo-header .logo .logo-circle .circle-2 {
        background-color: #B5E0D4;
    }

    .logo-header .logo h2 {
        font-size: 3rem;
    }
/* Logo */
    

/* Form */
.card {
    background-color: #111;
    border: 1px solid #444;
    color: #fff;
    width: 50%;
    margin: auto;
}

    .card-header{
        justify-content: center;
        padding-bottom: 0px;
    }

    .card-header h3{
        text-align: center;
        margin: 0px;
    }

.form-control {
    background-color: #222;
    border: 1px solid #444;
    color: #fff;
}

    .form-control:focus {
        background-color: #333;
        border: 1px solid #777;
        color: #fff;
    }

.btn-primary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
    margin-top:30px;
}

    .btn-primary:hover {
        background-color: #5a6268;
        border: 1px solid #5a6268;
        color: #fff;
    }