
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        width: auto;
        margin: 0;
        padding: 0;
    }

    .col-md-6 {
        flex: 1;
        padding: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.625;
}

body {
    background-color: #202124;
    margin: 0;
    padding: 0;
}

.row{
    margin: 0px;
    height: 400px;
}

.col-md-6{
    padding: 0px;
    width: 100%;
}

.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Image */
.image-container {
    display: flex;
    justify-content: center;  
    align-items: center;  
    width: 100%; 
    height: 100vh;  
    overflow: hidden;
}

    .image-container img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
    }
/* Image */


.sec2{
    margin: auto;
}


/* Logo */
.logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 1px;
    padding: 10px;
    color: #FBFAFB;
    text-align: center;
}

    .logo {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-circle {
        display: flex;
        flex-direction: column;
        margin-right: 6px;
        margin-bottom: 8px;
    }

    .logo-header .logo .circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .logo-header .logo .logo-circle .circle-1 {
        background-color: #62CBE7;
        margin-left: 10px;
    }

    .logo-header .logo .logo-circle .circle-2 {
        background-color: #B5E0D4;
    }

    .logo-header .logo h2 {
        font-size: 3rem;
    }
/* Logo */
    

/* Form */
.card{
    background-color: #111;
    border: 1px solid #444;
    color: #fff;
    width: 60%;
    margin: auto;
}


    .card-header{
        justify-content: center;
        border-bottom: 1px solid #444;
        background-color: #222;
        padding: 10px;
    }

    .card-header h3{
        text-align: center;
        margin: 0px;
    }


.form-control {
    background-color: #222;
    border: 1px solid #444;
    color: #fff;
}

    .form-control:focus {
        background-color: #111;
        border: 1px solid #777;
        color: #fff;
    }

    .form-control::placeholder {
        color: #777;
    }

    .form-check label{
        font-size: 0.7rem;
    }

    .form-select select {
        background-color: #222;
        border: 1px solid #444;
        color: #fff;
    }

        .form-select select:focus {
            background-color: #111;
            border: 1px solid #777;
            color: #fff;
        }

        .form-select select::placeholder {
            color: #777;
        } 


.btn-primary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
    margin-top: 30px;
}

    .btn-primary:hover {
        background-color: #5a6268;
        border: 1px solid #5a6268;
        color: #fff;
    }

.btn-primary,
.btn-outline-secondary {
    display: block;
    width: 100%;
    color : white;
}

/* Center the button */
.center-btn {
    display: block;
    margin: auto;
    margin-top: 10px;
}


.loginToRegister, .registerToLogin{
    margin-top: 20px;
    width: 60%;
}



.Birthday {
    display: flex;
    height: 40px;
    gap: 10px;
}

    .Birthday select {
        width: 130px;
    }


