@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        margin : 0;
    }
    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        /* Resetting width to auto */
        width: auto;
        /* Removing margin */
        margin: 0;
        /* Removing padding */
        padding: 0;
    }


    .col-md-6 {
        flex: 1;
        padding: 10px;
    }
}

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        background-color: #202124;
        margin: 0;
        padding: 0;
    }

    /* HEADER STARTS */

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 1px;
        padding:10px;
        color: #FBFAFB;
        text-align : center;
    }

.logo {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

    .logo-circle {
        display: flex;
        flex-direction: column;
        margin-right: 6px;
    }

    .header .logo .circle {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }

    .header .logo .logo-circle .circle-1 {
        background-color: #62CBE7;
        margin-left: 10px;
    }

    .header .logo .logo-circle .circle-2 {
        background-color: #B5E0D4;
    }

    /* HEADER FINISH */
    .content {
        display: flex;
    }

    .image-container {
        flex: 1;
        padding-left: 0; 
        position : relative ;
    }

        .image-container img {
            max-width: 100%;
        }
/* Login form styling (if desired) */
.card {
    background-color: #111;
    border: 1px solid #444;
    color: #fff;
}

.form-control {
    background-color: #222;
    border: 1px solid #444;
    color: #fff;
}

    .form-control:focus {
        background-color: #333;
        border: 1px solid #777;
        color: #fff;
    }

.btn-primary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #5a6268;
        border: 1px solid #5a6268;
        color: #fff;
    }

.center-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh; /* Makes sure the container takes the full height of the viewport */
}

.login-container {
    max-width: 400px; /* Adjust this width as needed */
}

.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

