@{
    ViewData["Title"] = "Flashcards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/createQuiz.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-straight/css/uicons-bold-straight.css'>


</head>
<style>

    body {
        background-color: #202124;
        margin: 0;
        padding: 0;
    }
</style>
<body>

    <content>
        <div class="quiz-card">

            <div class="card-heading">
                <p>Tanım</p>

                <p>1/30</p>
            </div>

            <div class="question-card">
                        

                <div class="card-meaning-content">

                    <div class="card-meaning-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum quos harum totam aspernatur!</div>

                    <div class="card-meaning-image">Resim</div>

                </div>
            </div>

            <div class="answer-card">
                <div class="card-term-content">

                    <p  class="card-term-text">Lorem ipsum</p>


                </div>
            </div>

            
        </div>

    </content>



</body>
</html>