.body{
    background-color: rgb(32, 33, 36); 
}

.forgot-password{
    width: 100%;
    height: auto;
    color: #FFFFFF;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    min-height: 300px;
}


.forgot-password-card {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px var(--card-dark-shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forgot-password-header {
    margin-bottom: 30px;
}

.forgot-password-header h2 {
    font-size: 1.6rem;
    color: var(--white-text-color);
}

.forgot-password-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
