.body{
    background-color: rgb(32, 33, 36); 
}

.forgot-password{
    width: 100%;
    height: auto;
    color: #FFFFFF;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    min-height: 300px;
}


.forgot-password-card {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px var(--card-dark-shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forgot-password-header {
    margin-bottom: 30px;
}

.forgot-password-header h2 {
    font-size: 1.6rem;
    color: var(--white-text-color);
}

.forgot-password-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forgot-password-lottie{
    display: flex;
    justify-content: center;
}

.forgot-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-text{
    margin-bottom: 1rem;
}

.forgot-password-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
    align-items: center;
}

.forgot-password-email{
        font-weight: 500;
        color: var(--sub-text-color-dark-gray);
}

.forgot-password-value{
    
}
/* İnput Area */

.form-control {
    background-color: var(--card-bg-color);
    color: var(--white-text-color);
    border: 1px solid var(--border-color);
    width: 500px;
    height: 40px;
    border-radius: 1rem;
    padding: 1rem;
    font-size:1rem;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--card-bg-color);
    color: var(--white-text-color);
    border: 1px solid var(--border-color);
}

.text-danger {
    color: var(--button-red);
    font-size: 0.875rem;
}

.button-group {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.button-group > * {
    flex: 1;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    white-space: nowrap;
}

.btn-edit {
    background-color: var(--flipard-green-hover);
    color: var(--white-text-color);
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}