body {
    color: var(--white-text-color);
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.profile-card {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-header {
    margin-bottom: 30px;
}

.profile-header h2 {
    font-size: 1.6rem;
    color: var(--white-text-color);
    margin: 0;
}

.profile-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px 30px;
    margin-bottom: 30px;
    align-items: center;
}

.profile-info-label {
    font-weight: 500;
    color: #6c757d;
}

.profile-info-value {
    text-align: right;
}

.button-group {
    display: flex;
    gap: 15px;
}

.button-group > * {
    flex: 1;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    white-space: nowrap;
}

.btn-edit {
    background-color: var(--primary-color);
    color: var(--white-text-color);
}

.btn-logout {
    background-color: var(--btn-red);
    color: var(--white-text-color);
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}

.btn-change-password {
    color: var(--white-text-color);
    background-color: transparent;
    text-align: right;
    width: 100px;
}

.btn-change-password:hover {
    font-weight: 800;
    color: var(--primary-color);
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

/* Change Password */
.form-control {
    background-color: var(--gray-bg-color);
    color: var(--white-text-color);
    border: 1px solid var(--gray-bg-border-color);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    color: var(--white-text-color);
    background-color: var(--gray-bg-color);
    border: 1px solid var(--gray-bg-border-color);
}

.text-danger {
    color: var(--btn-red);
    font-size: 0.875rem;
}

.forgot-password-static-text{
    word-wrap: break-word;
}
.text{
    margin:1.5rem auto;
}

.profile-info-forgot-password {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto;
    align-items: center;
}

.profile-info-label-forgot-password {
    font-weight: 500;
    color: #6c757d;
}

.profile-info-value-forgot-password {
    text-align: right;
}

.profile-info-value-forgot-password input{
    width: 100%;
}




/* Responsive Design */
@media (max-width: 600px) {
    .profile-info {
        grid-template-columns: 1fr;
    }

    .profile-info-value {
        text-align: left;
    }

    .button-group {
        flex-direction: column;
    }
}