@model Flipard.MVC.ViewModels.AuthLoginViewModel

@{
    ViewData["Title"] = "Sign-In";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
@await Component.InvokeAsync("NToastNotify")
<div class="login-container">
    <div class="login-image-section">
        <div class="image-wrapper">
            <img src="~/images/leftside.png" alt="A person studying with flashcards.">
        </div>
    </div>

    <div class="login-image-section login-form-section">
        <div class="logo-header">
            <div class="logo">
                <div class="logo-circle">
                    <span class="circle circle-1"></span>
                    <span class="circle circle-2"></span>
                </div>
                <h2>Flipard</h2>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3> Login </h3>
            </div>
            <div class="card-body">
                <form asp-controller="Auth" asp-action="Login" method="post">
                    <div class="form-group">
                        <label for="UserIdentifier">Email or Username</label>
                        <input type="text" class="form-control" id="UserIdentifier" name="UserIdentifier" placeholder="Enter email or username" required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Type your password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign-In</button>
                </form>
            </div>
        </div>

        <div class="card registration-card">
            <a id="registerLink" asp-controller="Auth" asp-action="Register" style="display: none;"></a>
            <button type="button" id="navigateToRegister" class="btn btn-outline-secondary">New Flipard? Create an account</button>
        </div>
    </div>
</div>

</body>
<script src="~/js/LoginRegister.js"></script>
<script>
    document.getElementById("navigateToRegister").addEventListener("click", function () {
        document.getElementById("registerLink").click();
    });

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>