@model Flipard.MVC.ViewModels.AuthRegisterViewModel

@{
    ViewData["Title"] = "Sign-In";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .card {
            background-color: #111;
            border: 1px solid #444;
            color: #fff;
        }

        .form-control {
            background-color: #222;
            border: 1px solid #444;
            color: #fff;
        }

            .form-control:focus {
                background-color: #333;
                border: 1px solid #777;
                color: #fff;
            }

        .btn-primary {
            background-color: #6c757d;
            border: 1px solid #6c757d;
        }

            .btn-primary:hover {
                background-color: #5a6268;
                border: 1px solid #5a6268;
            }

    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Register</h2>
                    </div>
                    <div class="card-body">
                        <form asp-action="Login" method="post">
                            
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" name="Email" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" id="Password" name="Password" required>
                            </div>
                           
                           
                            <button type="submit" class="btn btn-primary">Sign-In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
